extends ../layout

block content

    br
    div.container
        div.row
            div.form.form-inline
                a.btn.btn-lg(href='/admin?course_id='+course_id)
                    i.fa.fa-chevron-left
                h2='Editing ' + course + ' badges'
    hr
    div.container
        div.row
            table(class="admin_table")
                tr
                    th ID
                    th Title
                    th Description
                    th Points
                    th Portrait
                    th Portrait Description
                    th Edit Badge
                    th Delete Badge
                each badge in badges
                    tr
                        td=badge._id
                        td=badge.Title
                        td=badge.Description
                        td=badge.Points
                        td=badge.Portrait
                        td=badge.PortraitDescription
                        td
                            form(method='GET' action='badges/edit/'+badge._id)
                                button.btn.btn-dark(type='submit') Edit
                        td
                                form(method='POST' action='badges/delete/'+badge._id onsubmit="return confirm('Do you really want to delete this badge?');")
                                    button.btn.btn-danger(type='submit') Delete
