extends ../layout

block content

    br
    div.container
        div.row
            div.form.form-inline
                a.btn.btn-lg(href='/admin/badges?canvas_course_id=course_id')
                    i.fa.fa-chevron-left
                h2='Editing ' + course + ': Badge ' + badge._id
    hr

    form(method='POST' action='' onsubmit="return confirm('Do you really want to submit your changes?');")

        div.form-group.form-inline
            label(for='title') Title:
            input#title.form-control(type='text', value=badge.Title, name='title')
        hr

        div.form-group
            label(for='description') Description:
            br
            textarea(rows=3)#description.form-control(name='description')=badge.Description
        hr

        div.form-group.form-inline
            label(for='badge_points') Points:
            input#badge_points.form-control(type='numeric', value=badge.Points, name='badge_points')
        hr

        div.form-group.form-inline
            label(for='portrait') Portrait:
            input#portrait.form-control(type='text', value=badge.Portrait, name='portrait')
        hr

        div.form-group
            label(for='portraitdescription') Portrait Description:
            br
            textarea(rows=3)#portraitdescription.form-control(name='portraitdescription')=badge.PortraitDescription
            small(style='color:red')='Warning: long portrait descriptions may cause display issues on the badges page!'
        hr

        div.form-group
            label(for='unearned_url') Unearned URL:
            input#unearned_url.form-control(type='text', value=badge.UnearnedURL, name='unearned_url')
            br
            label(for='earned_url') Earned URL:
            input#earned_url.form-control(type='text', value=badge.EarnedURL, name='earned_url')
            br
            label(for='earned_hover_url') Earned Hover URL:
            input#earned_hover_url.form-control(type='text', value=badge.EarnedHoverURL, name='earned_hover_url')
        hr

        button.btn.btn-success(type='submit') Save Changes
