extends ../layout

block content

    br
    div.container
        div.row
            div.form.form-inline
                a.btn.btn-lg(href='/admin?course-id='+course_id+'&course-title='+course_title+'&user-id='+user_id)
                    i.fa.fa-chevron-left
                h2='Editing ' + course_title + ' Daily Tasks'
    hr
    div.container
        div.row
            h5 Daily Tasks
            br
            p Each day when a student logs into Canvas, a flag on the home page will link to that day's assignment, if there is one. To create a daily assignment, simply follow these steps:
            ol
                li
                    p Create the assignment in Canvas like any other assignment, and take note of the assignment ID, which can be found in the URL when editing it.
                    br
                    small(style="color:red;")
                        p For daily tasks which are Canvas Quizzes, you should use the Quiz ID instead.
                        a(href="https://conex.herokuapp.com/images/misc/dailytask_id_examples.png", target="_blank")
                            p See here for an example.
                li
                    p For each daily task, in your course, enter the assignment or quiz ID on this page. The system will automatically determine which type of ID you have entered and convert it to the corresponding assignment ID, if necessary.
                li
                    p Watch the homepage as the next available daily task is linked to in the top left! If no daily task is found, the generic 404 / Missing resource page will be linked on the homepage. In the case that the next daily task is not open yet, the generic not-open page is displayed.
            hr
        div.row
            table(class="admin_table")
                tr
                    th Row
                    th Assignment ID
                    th Edit Item
                each daily in dailies
                    tr
                        td=daily._id
                        td=daily.assignment_id
                        td
                            form(method='GET' action='dailies/edit/'+daily._id)
                                input(type='hidden', value=course_id, name='course-id')
                                input(type='hidden', value=course_title, name='course-title')
                                input(type='hidden', value=user_id, name='user-id')
                                button.btn.btn-dark(type='submit') Edit
