extends ../layout

block content
  script.
    const herokuAPI = "/api",
      courseID = "#{courseID}",
      needs = ["courseTitle", "unifiedGradebook"];
  
  script(src="/js/middleman_admin.js")
  br
  .container(style="margin-top: 25px;")
      .row
          .col-md-1
          .col.form-inline
              a.btn.btn-lg(href='/admin')
                  i.fa.fa-chevron-left
              h2#adminPanelTitle='Loading title...'
          .col-md-1
  hr

  div
    table.table.table-hover
      thead.thead-dark(style="font-size: 0.8rem;")
        tr
          th
          th 
          th
          each module in moduleTitles
            th(scope="col" colspan="2")=module.title
      
      thead.thead-dark(style="font-size: 0.8rem;")
        tr
          th#student_name(name="sort_button", onClick="sortUnifiedGradebook(unifiedGradebook, 'student_name', function(a, b) {const nameA = a[1].name.toUpperCase(); const nameB = b[1].name.toUpperCase(); if (nameA < nameB) {return -1;} if (nameA > nameB) {return 1;} return 0;})") Student Name
          th#student_id(name="sort_button", onClick="sortUnifiedGradebook(unifiedGradebook, 'student_id', (a, b) => a[0] - b[0]);",style="cursor:pointer;") Student ID
          th#team_name(name="sort_button", onClick="sortUnifiedGradebook(unifiedGradebook, 'team_name', function(a, b) {const teamA = a[1].team.toUpperCase(); const teamB = b[1].team.toUpperCase(); if (teamA < teamB) {return -1;} if (teamA > teamB) {return 1;} return 0;});",style="cursor:pointer;") Team Name
          each module in moduleTitles
            th(name="sort_button", id=`practice_${module.id}`, onClick=`sortUnifiedGradebook(unifiedGradebook, 'practice_${module.id}',(a, b) => a[1].modules[${module.id}].practice - b[1].modules[${module.id}].practice);`,style="cursor:pointer;") Practice
            th(name="sort_button", id=`quiz_${module.id}`, onClick=`sortUnifiedGradebook(unifiedGradebook, 'quiz_${module.id}',(a, b) => a[1].modules[${module.id}].apply - b[1].modules[${module.id}].apply);`,style="cursor:pointer;") Quiz

      tbody#gradebook
        tr
          td
            img(src="https://i.gyazo.com/c45fc9a6995912367a142ca33702366a.gif")

