extends layout

block content
  
  h1 Do you want to submit these changes?

  .user_content(style='margin-top: 0px !important;')
  .onexys_styling.o_hompage        
    .left(style='width: 500px !important; margin-top: -10px;')
      #updates.standard_home_box.left(style='width: 450px !important; margin-top: 23px !important;')
        h2 Updates
        .entry.clear
          p.entry_header
            strong!=home_updates.main_header
          p.entry_text!=home_updates.main_text
        .entry.clear
          p.entry_header!=home_updates.header2
          p.entry_text!=home_updates.text2
        .entry.clear
          p.entry_header!=home_updates.header3
          p.entry_text!=home_updates.text3

  form(method='POST' action='/confirm')

    input#main_header(type='hidden', value=home_updates.main_header, name='main_header')
    input#main_text(type='hidden', value=home_updates.main_text, name='main_text')

    input#header2(type='hidden', value=home_updates.header2, name='header2')
    input#text2(type='hidden', value=home_updates.text2, name='text2')

    input#header3(type='hidden', value=home_updates.header3, name='header3')
    input#text3(type='hidden', value=home_updates.text3, name='text3')

    button.btn.btn-primary(type='submit') Save Changes