extends ../layout

block content

    br
    div.container
        div.row
            div.form.form-inline
                a.btn.btn-lg(href='/admin?course-id='+course_id+'&course-title='+course_title+'&user-id='+user_id)
                    i.fa.fa-chevron-left
                h2='Confirm changes for ' + course_title + '?'
    hr

    .user_content(style='margin-top: 0px !important;')
    .onexys_styling.o_hompage
        .left(style='width: 500px !important; margin-top: -10px;')
            #updates.standard_home_box.left(style='width: 450px !important; margin-top: 23px !important;')
                h2 Updates
                .entry.clear
                    p.entry_header
                        strong!=home_updates.main_header
                    p.entry_text!=home_updates.main_text
                .entry.clear
                    p.entry_header!=home_updates.header2
                    p.entry_text!=home_updates.text2
                .entry.clear
                    p.entry_header!=home_updates.header3
                    p.entry_text!=home_updates.text3

    form(method='POST', action='/admin/home')
        input(type='hidden', value=course_id, name='course-id')
        input(type='hidden', value=course_title, name='course-title')
        input(type='hidden', value=user_id, name='user-id')

        input#main_header(type='hidden', value=home_updates.main_header, name='main_header')
        input#main_text(type='hidden', value=home_updates.main_text, name='main_text')

        input#header2(type='hidden', value=home_updates.header2, name='header2')
        input#text2(type='hidden', value=home_updates.text2, name='text2')

        input#header3(type='hidden', value=home_updates.header3, name='header3')
        input#text3(type='hidden', value=home_updates.text3, name='text3')

        input#post_test_link(type='hidden', value=home_updates.post_test_link, name='post_test_link')
        input#badges_link(type='hidden', value=home_updates.badges_link, name='badges_link')
        input#life_on_grounds_link(type='hidden', value=home_updates.life_on_grounds_link, name='life_on_grounds_link')

        button.btn.btn-danger(type='submit') Back to Edits

    form(method='POST' action='/admin/home/confirmUpdates')
        input(type='hidden', value=course_id, name='course-id')
        input(type='hidden', value=course_title, name='course-title')
        input(type='hidden', value=user_id, name='user-id')

        input#main_header(type='hidden', value=home_updates.main_header, name='main_header')
        input#main_text(type='hidden', value=home_updates.main_text, name='main_text')

        input#header2(type='hidden', value=home_updates.header2, name='header2')
        input#text2(type='hidden', value=home_updates.text2, name='text2')

        input#header3(type='hidden', value=home_updates.header3, name='header3')
        input#text3(type='hidden', value=home_updates.text3, name='text3')

        input#post_test_open_true(type='hidden', value=home_updates.post_test, name='post_test')
        input#post_test_link(type='hidden', value=home_updates.post_test_link, name='post_test_link')

        button.btn.btn-success(type='submit') Save Changes
