extends ../layout

block content

    //script(type='text/javascript', src='/javascript/nic-edit.js')
    //script(type='text/javascript').
    //    bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });

    br
    div.container
        div.row
            div.form.form-inline
                a.btn.btn-lg(href='/admin/home?course_id='+course_id)
                    i.fa.fa-chevron-left
                h2='Editing ' + course + ': Home Page Video ' + video._id
    hr
    div.container
        form(method='POST' action='/admin/home/videos/preview/'+video._id)
            input(type='hidden', value=course_id, name='course-id')
            input(type='hidden', value=course_title, name='course-title')
            input(type='hidden', value=user_id, name='user-id')
            div.row
                div.form-group.form-inline
                    label(for='video_src') Video Source:
                    input#video_src.form-control.inlined-input(type='text', name='video_src', value=video.video_src, required)
                hr

            div.row
                div.form-group
                    label(for='video_src') Video Image:
                    input#video_img.form-control.inlined-input(type='text', name='video_img', value=video.video_img, required)
                hr

            div.row
                div.form-group
                    label(for='video_desc') Video Description:
                    textarea#video_desc.form-control(rows=3, name='video_desc',style="width: 750px;", required)=video.video_desc
                hr

            div.row
                button.btn.btn-success(type='submit') Preview Changes
