extends ../layout

block content

  h3=course_title
  h1 Do you want to submit these changes?

  .user_content(style='margin-top: 10px !important;')
  .onexys_styling.o_hompage
    .left(style='width: 500px !important; margin-top: -10px;')
      #featured.standard_home_box.left(style='width: 458px !important;')
        h2=video.life_on_grounds_title + ' Videos'
        .onexys_video
          a.colorbox(href=video.video_src)
            if video.video_img
              img.onexys_thumbnail(src='https://'+heroku_app+'.herokuapp.com/images/lifeAtYale/'+video.video_img)
            else
              img.onexys_thumbnail(src='https://'+heroku_app+'.herokuapp.com/images/lifeAtYale/'+video.life_on_grounds_thumbnail, alt='')
            img.onexys_playbutton(src='https://'+heroku_app+'.herokuapp.com/images/icons/playbutton.png', alt='')
        p
          span(style='font-size: 12pt;')
            strong!=video.video_desc

  form(method='POST', action='/admin/home/videos/edit/'+video_id)
      input(type='hidden', value=course_id, name='course-id')
      input(type='hidden', value=course_title, name='course-title')
      input(type='hidden', value=user_id, name='user-id')

      input#video_src(type='hidden', value=video.video_src, name='video_src')
      input#video_img(type='hidden', value=video.video_img, name='video_img')
      input#video_desc(type='hidden', value=video.video_desc, name='video_desc')
      button.btn.btn-dark(type='submit') Back to Edits

  form(method='POST' action='/admin/home/videos/confirmUpdates/'+video_id)
      input(type='hidden', value=course_id, name='course-id')
      input(type='hidden', value=course_title, name='course-title')
      input(type='hidden', value=user_id, name='user-id')

      input#video_src(type='hidden', value=video.video_src, name='video_src')
      input#video_img(type='hidden', value=video.video_img, name='video_img')
      input#video_desc(type='hidden', value=video.video_desc, name='video_desc')

      input#life_on_grounds_title(type='hidden', value=life_on_grounds_title, name='life_on_grounds_title')
      input#life_on_grounds_thumbnail(type='hidden', value=life_on_grounds_thumbnail, name='life_on_grounds_thumbnail')

      button.btn.btn-success(type='submit') Submit Changes
