extends ../layout

block content

  h3=course
  h1 Do you want to submit these changes?

  .user_content(style='margin-top: 10px !important;')
  .onexys_styling.o_hompage
    .left(style='width: 500px !important; margin-top: -10px;')
      #featured.standard_home_box.left(style='width: 458px !important;')
        h2 Life @ Yale Videos
        .onexys_video
          a.colorbox(href=video.video_src)
            if video.video_img
              img.onexys_thumbnail(src=video.video_img)
            else
              img.onexys_thumbnail(src='https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png', alt='')
            img.onexys_playbutton(src='https://onexys.herokuapp.com/images/icons/playbutton.png', alt='')
        p
          span(style='font-size: 12pt;')
            strong!=video.video_desc

  form(method='POST', action='/admin/home/videos/edit/'+video_id)

    input#video_src(type='hidden', value=video.video_src, name='video_src')
    input#video_img(type='hidden', value=video.video_img, name='video_img')
    input#video_desc(type='hidden', value=video.video_desc, name='video_desc')

    button(type='submit') Back to Edits

  form(method='POST' action='/admin/home/videos/confirmUpdates/'+video_id)

    input#video_src(type='hidden', value=video.video_src, name='video_src')
    input#video_img(type='hidden', value=video.video_img, name='video_img')
    input#video_desc(type='hidden', value=video.video_desc, name='video_desc')

    button(type='submit') Submit Changes