extends ../layout

block content

    //script(type='text/javascript', src='/javascript/nic-edit.js')
    //script(type='text/javascript').
    //    bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });

    a(href='/admin') Back to Admin Page

    h1='Edit ONEXYS Home Page'
    h3=course
    br
    hr
    br
    h2='Home Page Updates'

    form(method='POST' action='home/preview')
        button.btn.btn-primary(type='submit') Preview Changes
        
        div.form-group
        label(for='main_header') Main Header:
        input#main_header.form-control(type='text', value=home_updates.main_header, name='main_header')
        br
        br

        div.form-group
        label(for='main_text') Main Text:
        br
        textarea#main_text.form-control(rows=15, name='main_text',style="width: 750px;")=home_updates.main_text
        br
        br

        div.form-group
        label(for='header2') Header 2:
        input#header2.form-control(type='text', value=home_updates.header2, name='header2')
        br
        br

        div.form-group
        label(for='text2') Text 2:
        br
        textarea#text2.form-control(rows=15, name='text2',style="width: 750px;")=home_updates.text2
        br
        br

        div.form-group
        label(for='header3') Header 3:
        input#header3.form-control(type='text', value=home_updates.header3, name='header3')
        br
        br

        div.form-group
        label(for='text3') Text 3:
        br
        textarea#text3.form-control(rows=15, name='text3',style="width: 750px;")=home_updates.text3
        br
        br

        div.form-group
        label Post Test Open?
        br
        label(for='post_test_open_true') Yes
        input#post_test_open_true.form-control(type='radio', value='true', checked=home_updates.post_test=='true', name='post_test')
        br
        label(for='post_test_open_false') No
        input#post_test_open_false.form-control(type='radio', value='false', checked=home_updates.post_test=='false', name='post_test')
        br
        br

        div.form-group
        label(for='post_test_link') Post Test URL:
        br
        textarea#post_test_link.form-control(rows=3, name='post_test_link',style="width: 750px;")=home_updates.post_test_link
        br
        br

        button.btn.btn-primary(type='submit') Preview Changes

    hr
    br
    br
    h2='Home Page Videos'
    br

    form(method='GET',action='home/videos/add',target="_blank")
                        button(type='submit') Add Video
    br 
    br
    table
        for video in home_vids
            tr 
                td
                    div.onexys_video
                    a.colorbox(href=video.video_src)
                        if video.video_img
                            img.onexys_thumbnail(src=video.video_img)
                        else
                            img.onexys_thumbnail(src='https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png', alt='')
                        img.onexys_playbutton(src='https://onexys.herokuapp.com/images/icons/playbutton.png', alt='')
                    p
                    span(style='font-size: 12pt;')
                        strong!=video.video_desc
                    br
                td 
                    form(method='GET' action='home/videos/edit/'+video._id)
                        button(type='submit') Edit
                    form(method='POST' action='home/videos/delete/'+video._id, onsubmit="return confirm('Do you really want to delete this video?');")
                        button(type='submit') Delete
