extends ../layout

block content
    script.
        const herokuAPI = "/api",
              edit = false,
              courseID = "!{courseID}";
        needs=["courseTitle", "lucky", "testInfo"];
    script(src="/js/courseIDGrabber.js")
    script(src="/js/middleman_admin.js")
    br
    .container(style="margin-top: 25px;")
        .row
            .col-md-1
            .col.form-inline
                a.btn.btn-lg(href='/admin')
                    i.fa.fa-chevron-left
                h2#adminPanelTitle='Loading title...'
            .col-md-1
    hr.mb-3
    .container
        a#luckyAddButton.btn.btn-dark.text-white.mb-2 Add Lucky Bonus
    div.container
        div.row
            -function prettyDate(dateString){

                -var date = new Date(dateString);
                -return date.toLocaleDateString("en-US", {weekday: "long", year: "numeric", month: "short",  day: "numeric", hour: "2-digit", minute: "2-digit"})
            -}

            table#luckyTable.admin_table(style="margin-bottom:100px;")
                tr
                each lucky_bonus in lucky_data ? lucky_data : []
                    tr
                        td
                            h2="Bonus "+ lucky_bonus._id
                            h4=prettyDate(lucky_bonus.time)
                            hr
                        td
                            div.form.form-inline
                                    form(method='GET' action='lucky/edit/'+lucky_bonus._id)
                                        input(type='hidden', value=course_id, name='course-id')
                                        input(type='hidden', value=course_title, name='course-title')
                                        input(type='hidden', value=user_id, name='user-id')
                                        button.btn.btn-dark(type='submit') Edit
                                    form(method='POST' action='lucky/delete/'+lucky_bonus._id, onsubmit="return confirm('Do you really want to delete this time?');")
                                        input(type='hidden', value=course_id, name='course-id')
                                        input(type='hidden', value=course_title, name='course-title')
                                        input(type='hidden', value=user_id, name='user-id')
                                        button.btn.btn-danger(type='submit') Delete
        
