extends ../layout

block content
  script.
    const herokuAPI = "/api",
      moduleID = "#{id}",
      edit = true,
      courseID = "#{courseID}",
      needs = ["courseTitle", "modules"];  
  
  script(src="/js/middleman_admin.js")
  br
  #fullscr-loading
      div
      img(src="https://i.gyazo.com/c45fc9a6995912367a142ca33702366a.gif")
  .container(style="margin-top: 25px;")
      .row
          .col-md-1
          .col.form-inline
              a.btn.btn-lg(href='/admin/modules')
                  i.fa.fa-chevron-left
              h2#adminPanelTitle='Loading title...'
          .col-md-1
  hr

  main.d-flex.flex-column.w-50(style="margin-left: auto; margin-right: auto;")
    h3.mb-4 Editing module #{id}

    div.d-flex.flex-column.mb-4
      label(for="primary_title") Primary Title:
      input#primary_title.form-control(type='text', value="")

    div.d-flex.flex-column.mb-4
      label(for="secondary_title") Secondary Title:
      input#secondary_title.form-control(type='text', value="")
    
    hr.w-100
  
    div.mb-4
      label Open?
      div.custom-control.custom-radio
        input#open_yes.custom-control-input(type='radio', name="open_radio")
        label.custom-control-label(for="open_yes") Yes
      div.custom-control.custom-radio
        input#open_no.custom-control-input(type='radio', name="open_radio")
        label.custom-control-label(for="open_no") No

    div.mb-4
      label Due? 
      div.custom-control.custom-radio
        input#due_yes.custom-control-input(type="radio" name="due_radio")
        label.custom-control-label(for="due_yes") Yes
      div.custom-control.custom-radio
        input#due_no.custom-control-input(type="radio" name="due_radio")
        label.custom-control-label(for="due_no") No

    hr.w-100

    div.mb-4
      label(for="background_image") Background Image Path:
      input#background_image.form-control(type='text', value="")

    div.mb-4
      label(for="button_background_image") Button Background Image (e.g., battel, alderman):
      input#button_background_image.form-control(type='text', value="")

    div.mb-4
      label(for="background_name") Background Name
      input#background_name.form-control(type='text', value="")

    div.form-floating.mb-4
      label(for="background_desc") Background Description
      textarea#background_desc.form-control(style="height: 100px")

    hr.w-100.mb-4

    div.form-floating.mb-4
      label(for="overview_text") Overview
      textarea#overview_text.form-control(style="height: 100px")

    div.form-floating.mb-4
      label(for="apply_description") Apply Description
      textarea#apply_description.form-control(style="height: 100px")

    div.mb-4
      label(for="apply_read_src") Apply Reading Source
      input#apply_read_src.form-control(type='text', value="")

    hr.w-100.mb-4

    h4 ALEKS Practice 
    div.d-flex.flex-column
      label(for="multiple_practice_cutoff") Practice Assignment ID and Grade Cutoff out of 100 (formatted as id_cutoff e.g "73230_90", "73230_90, 73231_100")
      input#multiple_practice_cutoff.mb-4.form-control(type='text', value="")

      label Practice Assignment ID or URL to custom page for multiple practice assignments?
      div.d-flex.flex-row.custom-control.custom-radio
        input#practice_id_bool_true.custom-control-input(type="radio" name="practice_bool")
        label.custom-control-label(for="practice_id_bool_true") Practice Assignment ID
        input#practice_link.ml-3.form-control(type='text', value="")

      div.d-flex.flex-row.custom-control.custom-radio
        input#practice_id_bool_false.custom-control-input(type="radio" name="practice_bool")
        label.custom-control-label(for="practice_id_bool_false") Practice URL to Custom Page
        input#practice_url_redirect.ml-3.form-control(type='text', value="")

    hr.w-100

    div.d-flex.flex-column.mb-4
      label(for="reflection_link") Reflection Link:
      input#reflection_link.form-control(type='text', value="")

    hr.w-100 

    h4 WIRIS Apply Quiz
    div.d-flex.flex-column.mb-4
      label(for="quiz_link") Quiz ID:
      input#quiz_link.form-control(type='text', value="")
    
    div.d-flex.flex-column.mb-4
      label(for="quiz_cutoff") Quiz Cutoff:
      input#quiz_cutoff.form-control(type='text', value="")

    hr.w-100.mb-4  
    
    div.form-floating.mb-4
      label(for="explore_text") Explore Text (embed videos for explore here)
      textarea#explore_text.form-control( style="height: 100px")

    div.mb-4
      button.btn.btn-success(onClick="updateModule();") Go live

    hr.w-100.mb-4

    h4 Videos for Module #{id}
    div#module_vid_container.d-flex.flex-column
