extends ../layout

block content
    script(src="https://" + heroku + ".herokuapp.com/javascript/gradebook.js")
    br
    div.container
        div.row
            div.form.form-inline
                a.btn.btn-lg(href='/admin?course-id='+course_id+'&course-title='+course_title+'&user-id='+user_id)
                    i.fa.fa-chevron-left
                h2='Viewing the Unified Gradebook for ' + course_title
    hr
    div.container
        table
            tr(class="tdata-header)
                th(class="spacer")
                th
                each obj in gradebook[0].grades
                    th=obj.module_name
        table(class="gradebook", style="border-bottom: 2px double black;")
            tr(id="first", style="border-bottom: 2px double black;")
                th(class="bg-light") Student Name
                th(class="bg-light") Student ID
                th(class="bg-light") Team Name
                each obj in gradebook[0].grades
                    th(class="bg-light") Practice
                    th(class="bg-light") Quiz
            each student in gradebook
                tr(class="student", team=student.team)
                    td=student.student_name
                    td=student.student_id
                    td=student.team
                    each obj in student.grades
                        td=obj.practice_grade
                        td=obj.quiz_grade
