extends ../layout

block content

    br
    div.container
        div.row
            div.form.form-inline
                a.btn.btn-lg(href='/admin?course-id='+course_id+'&course-title='+course_title+'&user-id='+user_id)
                    i.fa.fa-chevron-left
                h2='Viewing the Unified Gradebook for ' + course_title
    hr
    div.container
        table
            tr
                th Student Name
                th Student ID
                th Team Name
                each obj in gradebook[0].grades
                    th=obj.module_name
                    th Practice Grade
                    th Quiz Grade
            each student in gradebook
                tr
                    td=student.student_name
                    td=student.student_id
                    td=student.team
                    each obj in student.grades
                        td=obj.practice_grade
                        td=obj.quiz_grade
