html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/stylesheets/onexys_style_2017.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    //Jade Mixing
    mixin space()
      | !{' '}
  body
    div.onexys_styling
      img.background_building(src='/images/moduleBackgrounds/'+data.background_image, alt= data.background_name)
      div#background_building_outline
        div#bbo_white
      div#background_building_outline2
      div.title_mod.standard_title_box.left
        p!= data.primary_title
        h1!= data.secondary_title
      div.quicklinks.standard_title_box.left
        a(href="#watch") Watch
        br
        a(href="#practice") Practice
        br
        a(href="#apply") Apply
        br
        a(href="#explore") Explore
      div.building_descriptor.standard_title_box.right
        h2!= data.background_name
        p!= data.background_desc
      div.clear
      div#overview.module_box.standard_box.left
        div.title_box.standard_box
          h2 Overview
        span!= data.overview
          br
          br
      div.left
        div#watch.module_box.standard_box
          div.title_box.standard_box
            h2 1. Watch
          for item in data.videos
            div.watch_video.left
              div.onexys_video
                a.colorbox.cboxElement(href=item.video_src)
                  img.onexys_thumbnail(src='/images/video/'+item.video_image_src)
                  img.onexys_playbutton(src="/images/icons/playbutton.png", alt="")
              p
                span(style='font-size: 12pt;')
                  strong!=item.video_desc
                span!=item.video_desc_helper
          div.clear
        div#practice.module_box.standard_box
          div.title_box.standard_box
            h2 2. Practice
          p Practice, practice, practice! We would like you to keep working until you reach 90% proficiency for this module in ALEKS.
          //- a(href= canvas_url+'/courses/'+course_number+'/assignments/'+data.practice_link, target="_blank")
            div.onexys_button Practice Now
          if data.practice_id_bool == 'false'
            a(href= canvas_url+'/courses/'+course_number+'/assignments/'+data.practice_link, target="_blank")
              div.onexys_button Practice Now
          else
            a(href= data.practice_url_redirect)
              div.onexys_button Practice Now
        div#apply.module_box.standard_box
          div.title_box.standard_box
            h2 3. Apply
          span!= data.apply_description
          a(href= '/applicationPDFs/'+data.apply_read_src, target="_blank")
            div.onexys_button.apply_button.left
              img(src="/images/icons/Read.png", alt="Read.png")
              | 1. Read
          p.apply_description.left
            em Before
            |  your team meeting read the scenario and questions.
          div.clear
          a(href= canvas_url+'/courses/'+course_number+'/discussion_topics/'+data.reflection_link, data-api-endpoint= "https://yale.instructure.com/api/v1/" + data.apply_discussion_src, data-api-returntype="Discussion", target="_blank")
            div.onexys_button.apply_button.left
              img(src="/images/icons/Reflect.png", alt="Reflect.png")
              | 2. Reflect
          p.apply_description.left
            em Before
            |  your team meeting, complete the reflection
          div.clear
          div#meet-button.onexys_button.apply_button.left
            img(src="/images/icons/Meet.png", alt="Meet.png")
            | 3. Meet
          p.apply_description.left
            em Meet with your team!
            |  We'll unlock the questions afterwards.
          div.clear
          a(href= canvas_url+'/courses/'+course_number+'/assignments/'+data.quiz_link, target="_blank")
            div.onexys_button.apply_button.left
              img(src="/images/icons/Answer.png", alt="Answer.png")
              | 4. Answer
          p.apply_description.left
            em After
            |  your team meeting, the application quiz will be unlocked.
          div.clear
        div#explore.module_box.standard_box.left
          div.title_box.standard_box
            h2 4. Explore
          div.explore_content!= data.explore
      
